IF EXISTS (SELECT * FROM sys.databases WHERE name = 'ClubManagementSystem')
BEGIN
    ALTER DATABASE ClubManagementSystem SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE ClubManagementSystem;
END;
GO

CREATE DATABASE ClubManagementSystem;
GO

USE ClubManagementSystem;
GO

-- Accounts
CREATE TABLE Accounts(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Username VARCHAR(25) NOT NULL,
    PasswordHash VARCHAR(255) NOT NULL,
    FullName VARCHAR(30) NOT NULL,
    Email VARCHAR(255) NOT NULL,
    Phone VARCHAR(10) NULL,
    Role VARCHAR(10) NOT NULL,
    Status VARCHAR(20) NOT NULL,
    CreatedAt DATETIME NULL,
    CONSTRAINT UQ_Accounts_Username UNIQUE(Username),
    CONSTRAINT UQ_Accounts_Email UNIQUE(Email),
    CONSTRAINT CK_Accounts_Role CHECK (Role IN ('User','Admin')),
    CONSTRAINT CK_Accounts_Status CHECK (Status IN ('Active','InActive','Deleted'))
);
GO


-- Department
CREATE TABLE Deparment(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name VARCHAR(50) NOT NULL,
    CreatedAt DATETIME NULL,
    Status VARCHAR(20) NOT NULL,
    CodeName VARCHAR(25) NULL,
    CONSTRAINT UQ_Deparment_Name UNIQUE(Name),
    CONSTRAINT CK_Deparment_Status CHECK (Status IN ('Active','InActive'))
);
GO


-- Club
CREATE TABLE Club(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    DeparmentId INT NULL,
    Name VARCHAR(100) NOT NULL,
    IsPublic BIT NULL,
    Description VARCHAR(MAX) NULL,
    EstablishedDate DATE NULL,
    Status VARCHAR(20) NOT NULL,
    CreatedAt DATETIME NULL,
    CONSTRAINT FK_Club_Deparment FOREIGN KEY (DeparmentId) REFERENCES Deparment(Id),
    CONSTRAINT CK_Club_Status CHECK (Status IN ('Active','InActive'))
);
GO


-- Student (đã xóa ClubId)
CREATE TABLE Student(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    AccountId INT NOT NULL,
    DeparmentId INT NOT NULL,
    Status VARCHAR(20) NOT NULL,
    Code VARCHAR(10) NOT NULL,
    CreatedAt DATETIME NULL,
    CONSTRAINT FK_Student_Accounts FOREIGN KEY (AccountId) REFERENCES Accounts(Id),
    CONSTRAINT FK_Student_Deparment FOREIGN KEY (DeparmentId) REFERENCES Deparment(Id),
    CONSTRAINT CK_Student_Code CHECK (Code LIKE 'SE%' OR Code LIKE 'SA%'),
    CONSTRAINT CK_Student_Status CHECK (Status IN ('Active','InActive'))
);
GO


-- Registration
CREATE TABLE Registration(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    ClubId INT NOT NULL,
    StartDay DATETIME NULL,
    EndDay DATETIME NULL,
    Status VARCHAR(20) NOT NULL,
    Note VARCHAR(100) NULL,
    CreatedAt DATETIME NULL,
    CONSTRAINT FK_Registration_Club FOREIGN KEY (ClubId) REFERENCES Club(Id),
    CONSTRAINT CK_Registration_Status CHECK (Status IN ('Open','Close'))
);
GO


-- ClubMembership
CREATE TABLE ClubMembership(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    StudentId INT NOT NULL,
    ClubId INT NOT NULL,
    ClubRole VARCHAR(20) NOT NULL,
    Status VARCHAR(20) NOT NULL,
    RequestedAt DATETIME NULL,
    ApprovedAt DATETIME NULL,
    ApprovedBy INT NULL,
    Note VARCHAR(255) NULL,
    CONSTRAINT FK_ClubMembership_Student FOREIGN KEY (StudentId) REFERENCES Student(Id),
    CONSTRAINT FK_ClubMembership_Club FOREIGN KEY (ClubId) REFERENCES Club(Id),
    CONSTRAINT FK_ClubMembership_Accounts FOREIGN KEY (ApprovedBy) REFERENCES Accounts(Id),
    CONSTRAINT CK_ClubMembership_Role CHECK (ClubRole IN ('Leader','Member')),
    CONSTRAINT CK_ClubMembership_Status CHECK (Status IN ('Active','InActive'))
);
GO


-- ApplyRegistration
CREATE TABLE ApplyRegistration(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    StudentId INT NOT NULL,
    RegistrationId INT NOT NULL,
    Status VARCHAR(10) NOT NULL,
    CreatedAt DATETIME NULL,
    CONSTRAINT FK_ApplyRegistration_Student FOREIGN KEY (StudentId) REFERENCES Student(Id),
    CONSTRAINT FK_ApplyRegistration_Registration FOREIGN KEY (RegistrationId) REFERENCES Registration(Id),
    CONSTRAINT CK_ApplyRegistration_Status CHECK (Status IN ('Pending','Approved','Rejected'))
);
GO


INSERT INTO Deparment (Name, CreatedAt, Status, CodeName)
VALUES
('Software Engineering', GETDATE(), 'Active', 'SE'),
('Business Administration', GETDATE(), 'Active', 'BA'),
('Graphic Design', GETDATE(), 'InActive', 'GD'),
('Artificial Intelligence', GETDATE(), 'Active', 'AI');

INSERT INTO Club (DeparmentId, Name, IsPublic, Description, EstablishedDate, Status, CreatedAt)
VALUES
(1, 'FPT Developer Club', 1, 'A club for coding lovers.', '2020-01-15', 'Active', GETDATE()),
(1, 'Cyber Security Club', 0, 'Focus on ethical hacking and security.', '2019-03-21', 'Active', GETDATE()),
(2, 'Business Leaders Club', 1, 'For students interested in entrepreneurship.', '2021-07-10', 'Active', GETDATE()),
(3, 'Creative Art Club', 1, 'Art, drawing, creativity.', '2018-05-01', 'InActive', GETDATE());

INSERT INTO Student (AccountId, DeparmentId, Status, Code, CreatedAt)
VALUES
(2, 1, 'Active', 'SE001', GETDATE()),
(3, 1, 'Active', 'SE002', GETDATE()),
(4, 2, 'InActive', 'SA101', GETDATE()),
(5, 3, 'Active', 'SE003', GETDATE()),
(2, 4, 'Active', 'SE004', GETDATE());

INSERT INTO Registration (ClubId, StartDay, EndDay, Status, Note, CreatedAt)
VALUES
(1, '2025-01-01', '2025-03-01', 'Open', 'Recruiting dev members', GETDATE()),
(2, '2025-02-01', '2025-04-01', 'Open', 'Cyber security training intake', GETDATE()),
(3, '2025-03-01', '2025-05-01', 'Close', 'Business competition', GETDATE());

INSERT INTO ClubMembership (StudentId, ClubId, ClubRole, Status, RequestedAt, ApprovedAt, ApprovedBy, Note)
VALUES
(1, 1, 'Leader', 'Active', GETDATE(), GETDATE(), 1, 'Main leader'),
(2, 1, 'Member', 'Active', GETDATE(), GETDATE(), 1, NULL),
(3, 2, 'Member', 'InActive', GETDATE(), NULL, NULL, 'Left club'),
(4, 3, 'Member', 'Active', GETDATE(), GETDATE(), 1, NULL),
(5, 1, 'Member', 'Active', GETDATE(), GETDATE(), 1, NULL);

INSERT INTO ApplyRegistration (StudentId, RegistrationId, Status, CreatedAt)
VALUES
(1, 1, 'Approved', GETDATE()),
(2, 1, 'Pending', GETDATE()),
(3, 2, 'Rejected', GETDATE()),
(4, 3, 'Approved', GETDATE()),
(5, 2, 'Pending', GETDATE());
GO

-- Update Email column length to support longer emails (for Google login)
-- Only needed if database already exists with old schema
IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Accounts' AND COLUMN_NAME = 'Email' AND CHARACTER_MAXIMUM_LENGTH = 25)
BEGIN
    ALTER TABLE Accounts
    ALTER COLUMN Email VARCHAR(255) NOT NULL;
    PRINT 'Email column updated to VARCHAR(255)';
END
ELSE
BEGIN
    PRINT 'Email column already has correct length or table does not exist';
END
GO

